{{#if userId}}
  <p>{{userName}} is logged in</p>
  <a href="/users/logout">Logout</a>
{{else}}
  <p>it did not work</p>
{{/if}}

<h1> List of Posts</h1>

{{#each posts}}

  <a href="blog/{{_id}}"><h3>{{title}}</h3></a>
  <p>{{content}}</p>
  <i> <a href="/blog?authorId={{author._id}}">{{author.name}}</a></i>

  <a href="blog/delete/{{_id}}"> <button> Delete</button></a>
  <a href="/blog/editPost/{{_id}}"> <button> Edit</button></a>
  <hr />
{{/each}}
<a href="/blog/add"><button>post</button> </a>